# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.env/
.env

# Logs and database files
*.log
*.sqlite3

# Distribution / packaging
build/
dist/
*.egg-info/

# System files
.DS_Store
*.swp
*.swo
